ENIM_CORE_URL_EXTERNAL=http://127.0.0.1:8000
ENIM_CORE_URL_INTERNAL=http://host.docker.internal:8000
ENIM_OAUTH_CLIENT_ID=2
ENIM_OAUTH_CLIENT_SECRET=Db41Rb28XQPKsOsads
DEFAULT_ROLE_FOR_ENIM_USERS="Enim Users"

#rename this file to .env-local and update the values as per your environment